html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root{
  --swiper-theme-color:rgba(235,97,0)
}


.swiper-container{
  width:100%;
}

.swiper-button-prev{
  left:32px
}

.swiper-button-next{
  right:32px
}

.swiper-pagination-bullet{
  background: #fff;
  opacity: 1;
  vertical-align: middle;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--swiper-theme-color);
  width:16px;
  height:16px;
}

.swiper-container-horizontal>.swiper-pagination-bullets{
  right: 15%;
  left: auto;
  width: 100%;
  text-align: right;
  bottom:32px;
}