.page{
    width:70%;
    margin:0 auto;
}

.group{
    display:flex;
    flex-wrap: wrap;
    
}

.groupItemMD{
    flex-basis:33.33%;
    margin-bottom:24px;
}

.groupItemXS{
    flex-basis:100%;
    margin-bottom:24px;
}

.groupTitle{
    font-weight: bold;
    margin-bottom: 16px;
}

.groupTitle:before{
    content: ' ';
    border-left: 3px solid #eb6100;
    padding-right: 8px;
    height: 0.8rem;
    display: inline-flex;
}

.groupText{
    font-size:0.8rem;
    padding-bottom: 12px;
    padding-left: 11px;
}